{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "globals":{
        "document": true,
        "localStorage": true,
        "window": true
      },
      "rules":{
        "quotes":"off", //关闭字符串小写
        "lines-between-class-members":"warn"
      }
}