
.singCover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

.qrcode {

}

.qrcode .qr-close {
  text-align: right;
  height: .6rem;
  line-height: .6rem;
}

.qrcode {
  width:270px;
  position: fixed;
  top: 1.5rem;
  left: 0;
  right: 0;
  //bottom: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  color: #444;
  text-align: left;
}

.qrcode  img {
  display: block;
  margin:  auto;
}
.qrcode  span {
  color: #E84442;
}


.qrcode .qr-title {

  height: 1.2rem;
  color: #fff;
  //padding: 0.3rem 0.4rem ;
  background-color: #E84442;
  text-align: center;
  line-height: 1.2rem;
  font-size: 14px;
}

.qrcode .qr-content-area {
  padding: .36rem;
  text-align: justify;
  line-height: .44rem;
  font-size: 14px;
}

.footer{
  text-align: center;
}

.qrcodeImg{
  width:2.9rem;
  height: 2.9rem;
}